<aside class="aside py-5 pe-9" style="width: 296px;">
    <!--元件-->
    <nav class="navbar navbar-light bg-light align-items-start py-0 h-100">
      <div class="container-fluid flex-column p-0">
        <a class="navbar-brand me-auto mb-5 py-0 ps-5" href="index.html" >
          <img src="../assets/images/logo-ANSWER.svg" alt="logo-ANSWER">
        </a>
        <ul class="navbar-nav me-auto mb-2 py-0 row-gap-3">
          <li class="nav-itemd-flex align-items-center">
            <a class="nav-link border-hover color-hover py-1 d-flex align-items-center fw-bold ps-5 a-text-set gap-3" href="#">
              <span class="material-icons">
                assessment
              </span>
              Dashboard
            </a>
          </li>
          <li class="nav-itemd-flex align-items-center">
            <a class="nav-link border-hover color-hover py-1 d-flex align-items-center fw-bold ps-5 a-text-set gap-3" href="#">
              <span class="material-icons">
                question_answer
              </span>
              Question
            </a>
          </li>
          <li class="nav-itemd-flex align-items-center">
            <a class="nav-link border-hover color-hover py-1 d-flex align-items-center fw-bold ps-5 a-text-set gap-3" href="#">
              <span class="material-icons">
                assignment
              </span>
              Assignment
            </a>
          </li>
          <li class="nav-itemd-flex align-items-center">
            <a class="nav-link border-hover color-hover py-1 d-flex align-items-center fw-bold ps-5 a-text-set gap-3" href="#">
              <span class="material-icons">
                video_library
              </span>
              Course
            </a>
          </li>
          <li class="nav-itemd-flex align-items-center">
            <a class="nav-link border-hover color-hover py-1 d-flex align-items-center fw-bold ps-5 a-text-set gap-3" href="admin.html">
              <span class="material-icons">
                supervisor_account
              </span>
              Admin
            </a>
          </li>
          <li class="nav-itemd-flex align-items-center">
            <a class="nav-link border-hover color-hover py-1 d-flex align-items-center fw-bold ps-5 a-text-set gap-3" href="#">
              <span class="material-icons">
                settings
              </span>
              Settings
            </a>
          </li>
        
        </ul>
      </div>
      <div class="d-flex mt-auto ps-5 w-100">
        <div class="flex-shrink-0 d-flex align-items-center">
          <img class="rounded-circle object-fit-cover" style="width: 40px; height: 40px;" src="../assets/images/andychen.jpeg" alt="...">
        </div>
        <div class="flex-grow-1 ms-3">
          <p class="m-0 fw-bold w-100">Andy Chen</p>
          <p class="m-0 w-100 small text-color04">andy0401@mail.com</p>
        </div>
      </div>
    </nav>
    <!--元件-->
</aside>