<!--表單-->
<div class="px-5 w-100 mb-auto">
    <table class="table table-hover mb-0">
      <thead class="p-0">
        <tr class="p-0 border-color05">
          <th scope="col" class="d-flex justify-content-start align-items-center ps-0" >
            ID
            <span class="material-symbols-outlined text-color07">
              arrow_downward_alt
            </span>
          </th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Verified</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-0 p-0 border-color03" data-bs-toggle="modal" data-bs-target="#exampleModal01" style="cursor:pointer;">
          <th scope="row">#1</th>
          <td>Emir Wicks</td>
          <td>emir.wicks@mail.com</td>
          <td>Yes</td>
          <td class="d-flex justify-content-end align-items-center gap-4 pe-0" style="height: 42px;">
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal01">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                visibility
              </span>
            </button>
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal02">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                edit
              </span>
            </button>
          </td>
        </tr>

        <tr class="border-0 p-0 border-color03" data-bs-toggle="modal" data-bs-target="#" style="cursor:pointer;">
          <th scope="row">#2</th>
          <td>Zaina Goldsmith</td>
          <td>zaina.goldsmith@mail.com</td>
          <td>Yes</td>
          <td class="d-flex justify-content-end align-items-center gap-4 pe-0">
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal01">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                visibility
              </span>
            </button>
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal02">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                edit
              </span>
            </button>
          </td>
        </tr>

        <tr class="border-0 p-0 border-color03" data-bs-toggle="modal" data-bs-target="#" style="cursor:pointer;">
          <th scope="row">#3</th>
          <td>Mahima Lopez</td>
          <td>mahima.lopez@mail.com</td>
          <td>Yes</td>
          <td class="d-flex justify-content-end align-items-center gap-4 pe-0">
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal01">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                visibility
              </span>
            </button>
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal02">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                edit
              </span>
            </button>
          </td>
        </tr>

        <tr class="border-0 p-0 border-color03" data-bs-toggle="modal" data-bs-target="#" style="cursor:pointer;">
          <th scope="row">#4</th>
          <td>Pharrell Murray</td>
          <td>pharrell.murray@mail.com</td>
          <td>Yes</td>
          <td class="d-flex justify-content-end align-items-center gap-4 pe-0">
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal01">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                visibility
              </span>
            </button>
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal02">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                edit
              </span>
            </button>
          </td>
        </tr>

        <tr class="border-0 p-0 border-color03" data-bs-toggle="modal" data-bs-target="#" style="cursor:pointer;">
          <th scope="row">#5</th>
          <td>Annika Mcbride</td>
          <td>fatimah.clark@mail.com</td>
          <td>Yes</td>
          <td class="d-flex justify-content-end align-items-center gap-4 pe-0">
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal01">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                visibility
              </span>
            </button>
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal02">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                edit
              </span>
            </button>
          </td>
        </tr>

        <tr class="border-0 p-0 border-color03" data-bs-toggle="modal" data-bs-target="#" style="cursor:pointer;">
          <th scope="row">#6</th>
          <td>Fatimah Clark</td>
          <td>fatimah.clark@mail.com</td>
          <td>Yes</td>
          <td class="d-flex justify-content-end align-items-center gap-4 pe-0">
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal01">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                visibility
              </span>
            </button>
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal02">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                edit
              </span>
            </button>
          </td>
        </tr>

        <tr class="border-0 p-0 border-color03" data-bs-toggle="modal" data-bs-target="#" style="cursor:pointer;">
          <th scope="row">#7</th>
          <td>Klaudia Rhodes</td>
          <td>klaudia.rhodes@mail.com</td>
          <td>Yes</td>
          <td class="d-flex justify-content-end align-items-center gap-4 pe-0">
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal01">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                visibility
              </span>
            </button>
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal02">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                edit
              </span>
            </button>
          </td>
        </tr>

        <tr class="border-0 p-0 border-color03" data-bs-toggle="modal" data-bs-target="#" style="cursor:pointer;">
          <th scope="row">#8</th>
          <td>Tillie Lucero</td>
          <td>tillie.lucero@mail.com</td>
          <td>Yes</td>
          <td class="d-flex justify-content-end align-items-center gap-4 pe-0">
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal01">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                visibility
              </span>
            </button>
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal02">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                edit
              </span>
            </button>
          </td>
        </tr>

        <tr class="border-0 p-0 border-color03" data-bs-toggle="modal" data-bs-target="#" style="cursor:pointer;">
          <th scope="row">#9</th>
          <td>Sabrina Stephenson</td>
          <td>sabrina.stephenson@mail.com</td>
          <td>Yes</td>
          <td class="d-flex justify-content-end align-items-center gap-4 pe-0">
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal01">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                visibility
              </span>
            </button>
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal02">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                edit
              </span>
            </button>
          </td>
        </tr>

        <tr class="border-0 p-0 border-color03" data-bs-toggle="modal" data-bs-target="#" style="cursor:pointer;">
          <th scope="row">#10</th>
          <td>Annie Smith</td>
          <td>annie.smith@mail.com</td>
          <td>Yes</td>
          <td class="d-flex justify-content-end align-items-center gap-4 pe-0">
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal01">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                visibility
              </span>
            </button>
            <button type="button" class="border-0 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal02">
              <span class="material-symbols-outlined d-flex justify-content-center align-items-center color-hover">
                edit
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--表單-->